#lancamentos {
  margin-top: 40px;
}

#lancamentos h2 {
  text-transform: uppercase;
  font-size: 28px;
  margin: 30px 0;
  text-align: center;
}

#lancamentos-content {
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10%;
  gap: 20px;
}

#kits {
  grid-row: span 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
  margin-left: 30px;
}

#kits img {
  width: 50%;
  height: auto;
}

.batom {
  display: none;
}
.ativo {
  display: block;
}
