#images ul {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
#images img {
  width: 100%;
  height: auto;
}

#images li {
  list-style: none;
  padding: 0 10px;
}
#images li p {
  text-align: initial;
  font-weight: bold;
  margin-top: 8px;
  font-family: 'Poppins', sans-serif;
  margin: -30px 10px;
  text-transform: uppercase;
  font-size: x-large;
  color: aliceblue;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

#images li:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
#images li:active {
  transform: scale(0.95);
  transition: transform 0.1s ease;
}

#looks {
  text-align: center;
  margin: 40px 0;
  padding: 40px;
}
#looks h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  #images ul {
    grid-template-columns: 50% 50%;
    gap: 50px 10px; /* menos espaçamento em telas menores */
  }
  #images li {
    padding: 0; /* corrige '0 px' */
  }
  #looks {
    padding: 20px;
    margin: 20px 0;
  }
}
