.image-banner {
  border-radius: 5%;
  width: 80%;
  display: block;
  margin: 0 auto;
}
#banner {
  margin-top: 20px;
}
.image-banner {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.image-banner:hover {
  transform: scale(1.05);
  transition: transform 0.4s ease;
}
@media (max-width: 600px) {
  .image-banner {
    width: 100%;
    border-radius: 0;
  }
}
